@import 'tailwindcss';

@import 'fumadocs-ui/css/solar.css';
@import 'fumadocs-ui/css/preset.css';

@custom-variant dark (&:is(.dark *));

@theme {

  --color-fd-primary: hsl(216, 49%, 44%);
  --color-fd-muted-primary: hsl(216, 49%, 38%);
  --color-fd-primary-foreground: hsl(216, 49%, 95%);

  --color-fd-orange: hsl(29, 79%, 54%);
  --color-fd-muted-orange: hsl(29, 79%, 48%);
  --color-fd-orange-foreground: hsl(29, 79%, 95%);

  --color-fd-green: hsl(160, 49%, 44%);
  --color-fd-muted-green: hsl(160, 49%, 38%);
  --color-fd-green-foreground: hsl(160, 49%, 95%);

  --color-fd-gray: hsl(212, 32%, 70%);
  --color-fd-muted-gray: hsl(212, 32%, 64%);
  --color-fd-gray-foreground: hsl(212, 32%, 15%);


}

.dark {
  --color-fd-foreground: #dfdfd6;
  --color-fd-muted-foreground: #98989f;
  --color-fd-card: #222222;
  --color-fd-border: #2b2b2b;
  --color-fd-background: #1b1b1b;
  --color-fd-muted: #1d1d1d;
  --color-fd-article: #181818;
  --color-fd-secondary: #1d1d1d;

  --color-fd-primary: hsl(203, 84%, 70%);
  --color-fd-muted-primary: hsl(203, 84%, 80%);
  --color-fd-primary-foreground: hsl(203, 84%, 20%);

  --color-fd-orange: hsl(29, 100%, 65%);
  --color-fd-muted-orange: hsl(29, 100%, 72%);
  --color-fd-orange-foreground: hsl(29, 100%, 15%);

  --color-fd-green: hsl(135, 80%, 76%);
  --color-fd-muted-green: hsl(135, 80%, 82%);
  --color-fd-green-foreground: hsl(135, 80%, 15%);

  --color-fd-gray: hsl(222, 12%, 22%);
  --color-fd-muted-gray: hsl(222, 12%, 32%);
  --color-fd-gray-foreground: hsl(222, 12%, 87%);


}

b {
  color: var(--color-fd-primary);
}

p {
  color: var(--color-fd-muted-foreground)
}

/* @theme {
  --color-fd-background: hsl(0, 0%, 96%);
  --color-fd-foreground: hsl(0, 0%, 3.9%);
  --color-fd-muted: hsl(0, 0%, 96.1%);
  --color-fd-muted-foreground: hsl(0, 0%, 45.1%);
  --color-fd-popover: hsl(0, 0%, 98%);
  --color-fd-popover-foreground: hsl(0, 0%, 15.1%);
  --color-fd-card: hsl(0, 0%, 94.7%);
  --color-fd-card-foreground: hsl(0, 0%, 3.9%);
  --color-fd-border: hsla(0, 0%, 80%, 50%);
  --color-fd-primary: hsl(0, 0%, 9%);
  --color-fd-primary-foreground: hsl(0, 0%, 98%);
  --color-fd-secondary: hsl(0, 0%, 93.1%);
  --color-fd-secondary-foreground: hsl(0, 0%, 9%);
  --color-fd-accent: hsla(0, 0%, 82%, 50%);
  --color-fd-accent-foreground: hsl(0, 0%, 9%);
  --color-fd-ring: hsl(0, 0%, 63.9%);
}
.dark {
  --color-fd-background: var(--color-zinc-900);
  --color-fd-foreground: var(--color-zinc-200);
  --color-fd-muted: var(--color-zinc-800);
  --color-fd-muted-foreground: var(--color-zinc-400);
  --color-fd-popover: var(--color-zinc-800);
  --color-fd-popover-foreground: var(--color-zinc-400);
  --color-fd-card: var(--color-zinc-800);
  --color-fd-card-foreground: var(--color-zinc-200);
  --color-fd-border: var(--color-zinc-700);
  --color-fd-primary: var(--color-sky-500);
  --color-fd-primary-foreground: var(--color-sky-200);
  --color-fd-secondary: var(--color-zinc-900);
  --color-fd-secondary-foreground: var(--color-zinc-300);
  --color-fd-accent: var(--color-zinc-700);
  --color-fd-accent-foreground: var(--color-zinc-300);
  --color-fd-ring: hsl(0, 0%, 54.9%);
} */