@import 'tailwindcss';

@import 'fumadocs-ui/css/solar.css';
@import 'fumadocs-ui/css/preset.css';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Minecraft';
  src: url('/fonts/minecraft.ttf') format('truetype');
}

@theme {
  @keyframes apperance {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --color-fd-primary: hsl(216, 49%, 44%);
  --color-fd-muted-primary: hsl(216, 49%, 38%);
  --color-fd-primary-foreground: hsl(216, 49%, 95%);
  --color-fd-secondary: #e1e1e1;

  --color-fd-orange: hsl(29, 79%, 54%);
  --color-fd-muted-orange: hsl(29, 79%, 48%);
  --color-fd-orange-foreground: hsl(29, 79%, 95%);

  --color-fd-green: hsl(160, 49%, 44%);
  --color-fd-muted-green: hsl(160, 49%, 38%);
  --color-fd-green-foreground: hsl(160, 49%, 95%);

  --color-fd-gray: hsl(0, 0%, 80%);
  --color-fd-muted-gray: hsl(0, 0%, 72%);
  --color-fd-gray-foreground: hsl(0, 0%, 15%);

  --color-fd-red: #ff3030;
  --color-fd-muted-red: rgb(231, 66, 66);
  --color-fd-red-foreground: rgb(253, 185, 185);
}


.dark {
  --color-fd-foreground: #dfdfd6;
  --color-fd-muted-foreground: #98989f;
  --color-fd-card: #222222;
  --color-fd-border: #2b2b2b;
  --color-fd-background: #1b1b1b;
  --color-fd-muted: #1d1d1d;
  --color-fd-article: #181818;
  --color-fd-secondary: #232323;

  --color-fd-primary: hsl(203, 84%, 70%);
  --color-fd-muted-primary: hsl(203, 84%, 80%);
  --color-fd-primary-foreground: hsl(203, 84%, 20%);

  --color-fd-orange: hsl(29, 100%, 65%);
  --color-fd-muted-orange: hsl(29, 100%, 72%);
  --color-fd-orange-foreground: hsl(29, 100%, 15%);

  --color-fd-green: hsl(135, 80%, 76%);
  --color-fd-muted-green: hsl(135, 80%, 82%);
  --color-fd-green-foreground: hsl(135, 80%, 15%);

  --color-fd-gray: #2b2b2b;
  --color-fd-muted-gray: #353535;
  --color-fd-gray-foreground: hsl(0, 0%, 87%);

  --color-fd-red: #fa4e4e;
  --color-fd-muted-red: rgb(248, 96, 96);
  --color-fd-red-foreground: rgb(255, 209, 209);
}

b {
  color: var(--color-fd-primary);
}

p {
  color: var(--color-fd-muted-foreground)
}

::selection {
  background: var(--color-fd-primary);
  color: var(--color-fd-primary-foreground);
}

div[data-radix-popper-content-wrapper=""]{
  margin: 4px;
}

a.inline-flex.items-center.justify-center.rounded-md.text-sm.font-medium.transition-colors.duration-100  {
  color: var(--color-fd-muted-foreground);
}
button[aria-haspopup="dialog"] {
  color: var(--color-fd-muted-foreground);
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background: var(--color-fd-primary);
  cursor: pointer;
  margin-top: -6px;
}

input[type="range"]::-moz-range-thumb {
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background: var(--color-fd-primary);
  cursor: pointer;
  border: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: var(--color-fd-card);
  border-radius: 4px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  background: var(--color-fd-card);
  border-radius: 4px;
}
