name: Deploy Flectone Web

on:
  release:
    types: [ published ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Prepare standalone
        run: |
          mkdir -p .next/standalone/.next
          cp -r public .next/standalone/public || true
          cp -r .next/static .next/standalone/.next/static || true
          cp .next/BUILD_ID .next/standalone/.next/ 2>/dev/null || true

      - name: Deploy to server
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          ARGS: "-rlgoDzvc -i --delete"
          SOURCE: ".next/standalone/"
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          REMOTE_PORT: ${{ secrets.REMOTE_PORT }}
          TARGET: "${{ secrets.REMOTE_TARGET }}"
          SCRIPT_AFTER: |
            cd ${{ secrets.REMOTE_TARGET }}
            pm2 reload flectone-web --update-env || pm2 start server.js --name flectone-web